@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100vw;
    height: 10vh;
}

body {
    background-color: #2E3440;
    color: #D8DEE9;
}

.logo {
    background-color: #2E3440;
    color: #D8DEE9;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo img {
    height: 100%;
}

.logo a {
    width: 50%;
    color: #D8DEE9;
    display: flex;
    height: 100%;
    line-height: 3.5;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
}


/* Left Side */

.left-side {
    width: 20%;
    height: 100%;
    background-color: #2E3440;
}

.left-side h1 {
    color: #D8DEE9;
}

.left-side .dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left-side .dropdown a {
    text-decoration: none;
    font-size: xx-large;
    border: 0;
    background-color: #2E3440;
    color: #D8DEE9;
    font-size: large;
    cursor: pointer;
    border: 1px solid #D8DEE9;
}


/* Right Side */

.right-side {
    background-color: #2E3440;
    width: 80%;
    height: 100%;
}

.right-side .obras {
    width: 100%;
    height: 50%;
    overflow-y: auto;
}

.obras {
    width: 100%;
    height: 50%;
}

.obras {
    border: 2px solid #D8DEE9;
    border-radius: 15px;
}

.obras tr td {
    width: 10%;
    font-size: x-large;
}

.obras tr td textarea {
    resize: none;
    color: #D8DEE9;
    font-size: larger;
    background-color: #2E3440;
    border: 2px solid #D8DEE9;
    border-radius: 10px;
}

.obras tr a {
    font-size: x-large;
}

.obras tr td img {
    width: 45%;
    height: 48%;
    margin-left: 5px;
}

.obras tr td a {
    background-color: #2E3440;
    color: #D8DEE9;
    border: 2px solid #D8DEE9;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
}