 /* Imports */
 
 @import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Zen+Loop:ital@1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
 /* CSS */
 
 * {
     margin: 0;
     border: 0;
     padding: 0;
     user-select: none;
 }
 
 .logo {
     background-color: #141414;
     width: 100vw;
     height: 10vh;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom: 10px;
 }
 
 .logo img {
     height: 10vh;
 }
 
 .logo a {
     width: 40vw;
     color: #8C8C8C;
     display: flex;
     height: 10vh;
     line-height: 3;
     font-family: 'Lato', sans-serif;
     text-decoration: none;
 }
 
 .theme {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .theme-button {
     height: 50%;
     background-color: transparent;
     border: none;
     cursor: pointer;
     color: white;
 }
 
 .icon::before {
     font-size: xx-large;
 }
 
 main {
     width: 100%;
     height: 100%;
 }
 
 .row {
     display: flex;
     flex-direction: row;
 }
 
 .card {
     display: grid;
     margin-right: 10px;
     margin-left: 10px;
     width: 25%;
     height: 25%;
     border: 2px solid black;
     justify-items: center;
     align-items: center;
     cursor: pointer;
     color: white;
     text-decoration: none;
 }
 
 .card>* {
     grid-column-start: 1;
     grid-row-start: 1;
 }
 
 .card img {
     width: 100%;
 }
 
 .info {
     position: relative;
     bottom: -25%;
     opacity: 100%;
     margin: 0;
     background-color: #19191991;
     width: 100%;
     height: 50%;
     color: white;
     text-decoration: none;
 }
 
 @keyframes hide {
     from {
         opacity: 100%;
     }
     to {
         opacity: 0%;
     }
 }
 
 .hide {
     animation: hide;
     animation-duration: 2s;
     animation-fill-mode: forwards;
 }
 
 .info h2 {
     font-size: large;
 }
 
 .info h3 {
     font-size: medium;
 }
 
 footer {
     width: 100%;
     height: 7.5%;
     position: absolute;
     bottom: 0;
 }
 
 footer h3 {
     font-size: 1.2pc;
     text-align: center;
 }